input{
    outline: none !important;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.298);
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.565) 0px 0px 3px;
    min-height: 40px;
    min-width: 150px;
    font-size: 1.2em;
}

input:focus{
    border: 1px solid rgba(139, 96, 15, 0.648);
    box-shadow: rgba(139, 96, 15, 0.648) 0px 0px 5px;
}
